@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
     content: "dark"; 
  }
}

@media (prefers-color-scheme: light) {
  html {
     content: "light";
  }  
}
